.div-form-item {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

ul,
li {
  list-style-type: none;
}

#colorResult {
  background-color: black;
  width: 10rem;
  height: 10rem;
  border: black;
}
